<!DOCTYPE html>
<html lang="en">

<%= render 'html_header' %>

<body>

<%= render 'nav' %>

<div class="container">
  <div class="row">
    <div id="box" class="box">

      <div class="col-lg-12">
        <hr>
        <h1 class="intro-text text-center">Create <strong>Estimate</strong></h1>
        <hr>
      </div>

      <div class="col-lg-12 text-center">
        <div class="col-lg-6 text-left">
          <h1>Long Arm Quilt</h1><br>
        </div>
      </div>

			<%= render 'form' %>

		</div>
  </div>
</div>

<%= render 'footer' %>

</body>

</html>
