<!DOCTYPE html>
<html lang="en">

<%= render 'html_header' %>

<%= render 'nav' %>

<!-- The rest of the page goes below here! -->
<div class="container">
	<div class="row">
      <div id="box" class="box">

      	<div class="col-lg-12">
          <hr>
          <h2 class="intro-text text-center">Custom <strong>Quilting</strong></h2>
          <hr>
        </div>

        <div class="col-lg-12">
	        <div class="col-lg-2 text-left"></div>
	        <div class="col-lg-4 text-left">
	          <h3><a href="/customs/new">Custom Quilt</a></h3>
	        </div>
	        <div class="col-lg-4 text-right">
	          <h3><a href="/long_arms/new">Long Arm Service</a></h3>
	        </div>
      	</div>

      	<div class="col-lg-12 text-left">
	        <div class="col-lg-2 text-left"></div>
	        <div class="col-lg-4 text-left">
	          <h3><a href="/tshirts/new">T-Shirt Quilt</a></h3>
	        </div>
      	</div>

      	<div class="col-lg-12 text-left">
	        <div class="col-lg-2 text-left"></div>
	        <div class="col-lg-4 text-left">
	          <h3><a href="/photo_memories/new">Photo Memory Quilt</a></h3>
	        </div>
      	</div>

 


      </div>
  </div>
</div>

<%= render 'footer' %>


</body>

</html>